body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

main{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.global{
    position: relative;
    display: flex;
    justify-content: center;
}

#consola_img{
    position: absolute;
    display: flex;
    align-self: center;
    z-index: 1;
    opacity: 0.6;
}

#mando{
    height: 18em;
    width: 31em;
}

#background_consola{
    display: flex;
}

#izquierda{
    position: relative;
    width: 50%;
    height: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -0.1em;

}

#derecha{
    position: relative;
    width: 50%;
    height: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleX(-1);
}

.buttons_group{
    position: absolute;
    top: 1.5em;
    left: 2.6em;
    display: flex;
    justify-content: center;
    height: 8em;
    width: 8em;
    background-color: #656668;
    border-radius: 5em;
}

#joystick_group{
    position: absolute;
    top: 8em;
    right: 1.6em;
    display: flex;
    justify-content: center;
    width: 5.5em;
    height: 5.5em;
    border-radius: 3em;
    background-color: #656668;
}

.joystick{
    align-self: center;
    background-color: #5d5e60;
    width: 2.5em;
    height: 2.5em;
    border-radius: 3em;
    border: solid 0.6em #4c4d4f;
    box-shadow: 0em 0.3em 3px 1px #00000099;
}

.estetica_cuadro_consola{
    width: 3.4em;
    margin-right: 0.5em;
    border-radius: 0.5em 0.5em 0em 0em;
    height: 1em;
    margin-top: 0.3em;
    background-color: #4c4d4f;
}

.luz{
    position: absolute;
    top: 1.2em;
    right: 4.8em;
    background-color: black;
    height: 1.8em;
    width: 0.8em;
    border-radius: 1em;
}

.speaker1{
    position: absolute;
    top: 8em;
    right: 1.2em;
    background-color: black;
    height: 0.6em;
    width: 0.6em;
    border-radius: 1em;
}
.speaker2{
    position: absolute;
    top: 8em;
    right: 0.3em;
    background-color: black;
    height: 0.6em;
    width: 0.6em;
    border-radius: 1em;
}
.speaker3{
    position: absolute;
    top: 9em;
    right: 0.4em;
    background-color: black;
    height: 0.6em;
    width: 0.6em;
    border-radius: 1em;
}

.cuadro_ancho_consola{
    position: absolute;
    width: 9.9em;
    height: 11.8em;
    left: 5.6em;
    top: 0.8em;
    background-color: #5d5e60;
}

.pata{
    position: absolute;
    height: 95%;
    width: 8.1em;
    left: 1.3em;
    top: 0.8em;
    background-color: #5d5e60;
    transform: rotate(14deg);
    border-radius: 3.4em 0em 4em 4em;
    background-image: linear-gradient(#5d5e60,#5d5e60, #393a3b)
}

.button_up{
    position: absolute;
    width: 1.5em;
    height: 1.1em;
    background-image: linear-gradient(-73deg, black, black, black, #ffffffc7);
    background-color: #000000;
    top: 1.8em;
    border-radius: 0.2em;
    margin-left: 0.2em;
    box-shadow: 0em 0.1em #00000070;
}

.button_left{
    position: absolute;
    width: 1.5em;
    height: 1.1em;
    background-image: linear-gradient(-73deg, black, black, black, #ffffffc7);
    background-color: #000000;
    left: 1.6em;
    top: 3.5em;
    transform: rotate(-90deg);
    border-radius: 0.2em;
    margin-left: 0.2em;
}

.button_right{
    position: absolute;
    width: 1.5em;
    height: 1.1em;
    background-image: linear-gradient(421deg, black, black, black, #ffffffc7);
    background-color: #000000;
    transform: rotate(90deg);
    top: 3.3em;
    right: 1.6em;
    border-radius: 0.2em;
}

.button_bottom{
    position: absolute;
    top: 5.1em;
    width: 1.5em;
    height: 1.1em;
    background-image: linear-gradient(-15deg, black, black, black, #ffffffc7);
    background-color: #000000;
    transform: rotate(180deg);
    border-radius: 0.2em;
    margin-left: 0.2em;
    box-shadow: 0em -0.1em #00000070;
}

.piramide{
    top: 1em;
    right: -1.1em;
    height: 1.1em;
    width: 4em;
    background-color: black;
    position: absolute;
    clip-path: polygon(55% 80%, 34% 0, 73% 0);
}
#transparent{
    box-shadow: inset 3em -1em 0px -22px #ffffff42;
}

#verde{
position: absolute;
width: 1.7em;
height: 1.7em;
border-radius: 2em;
top: 1.5em;
background-color: green;
box-shadow: 0em 0.1em #00000070;
background-image: linear-gradient(37deg, #054e05, #1a6d1aad, #51ac5185, #ffffffc7);
}

#rojo{
position: absolute;
width: 1.7em;
height: 1.7em;
border-radius: 2em;
left: 1.4em;
top: 3.2em;
background-color: red;
box-shadow: -0.1em 0em #00000070;
background-image: linear-gradient(-43deg, #691813, #771f19, #9c4f49a8, #ffffffc7);
transform: rotate(-90deg);
}

#amarillo{
position: absolute;
top: 3.3em;
right: 1.5em;
width: 1.7em;
height: 1.7em;
border-radius: 2em;
background-color: #FFEB3B;
box-shadow: 0.1em 0em #00000070;
background-image: linear-gradient(57deg, #6f6615, #7b711ab5, #a69d4f99, #ffffffc7);
transform: rotate(90deg);
}

#negro{
position: absolute;
top: 5.1em;
left: 2.9em;
width: 1.7em;
height: 1.7em;
border-radius: 2em;
background-color: rgb(41, 39, 39);
box-shadow: 0em -0.1em #00000070;
background-image: linear-gradient(27deg, #080808, #3a3a3a, #929292a8, #ffffffc7);
transform: rotate(180deg);
}
